/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*
   Toby Opferman
   MultiDesk Resource File
   http://www.nauticom.net/www/secret
   secret@pgh.nauticom.net
   _Secret/Scrat
   Copyright 1999

 *-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

 #include <windows.h>

 #define DeskIcon 101

 DeskIcon  ICON desk.ico
 About1    ICON about1.ico


 
 AboutBox DIALOG 10, 10, 160, 90
    STYLE WS_POPUP | WS_DLGFRAME
    {
       CTEXT "About"                            -1, 0, 5, 160, 8
       ICON "About1"                             -1, 73, 12, 48, 48
       CTEXT "MultiDesk v1.0a"             -1, 0, 28, 160, 8
       CTEXT "Toby Opferman Copyright 1999"     -1, 0, 38, 160, 8
       CTEXT "http://www.nauticom.net/www/secret" -1, 0, 48, 160, 8
       CTEXT "Written in Assembly"             -1, 0, 58, 160, 8
       DEFPUSHBUTTON "OK!"                    IDOK, 64, 70, 32, 14, WS_GROUP
    }
